<html>
<head>
    <title>registration</title>
</head>
<body>
    <form method = "post" action = "/validate">
        <table>
            <tr><td>username</td><td><input type = 'name' name = 'name'></td></tr>
            <tr><td>email</td><td><input type = 'email' name = 'email'></td></tr>
            <tr><td>address</td><td><input type = 'address' name = 'add'></td></tr>
            <tr><td><input type = "submit" value = "Submit"></td></tr>
        </table>
    </form>
</body>
</html>